<%= form_for @url,:html => {:class => 'form-search'} do |f| %>
    <%= f.text_field :url, class: 'input-medium search-query',
                           placeholder:"Type your URL here..",
                           'data-content'=>"Please type an URL to make that shorten",
                           'data-original-title'=>"(!)",
                           'title'=>"",
                           'data-toggle'=>"popover",
                           'data-placement'=>"left" %>
    <button type="button" id='shorten-button' class="btn btn-success" >Shorten URL</button>
<% end %>
