<h1>All URLs</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Actual URl</th>
      <th>Short URL</th>
      <th>Hits</th>
    </tr>
  </thead>
  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.url %></td>
        <td><%= short_url(url.unique_key)  %></td>
        <td><%= url.hit_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>




