/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.search{
    padding-top: 150px;
    padding-left: 80px;
}

.short_url{
    display: none;
}

.short_url_error {
    @extend .short_url;
    color:red;
}

#short_url_input{
    width: 200px;
}